MemoriesEdgeUser/MemoriesEdge/Service References/AdminService/wcfAdmin2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemoriesEdge.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemoriesEdge.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ManageFeedBack">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeedbackAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeedbackQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeedbackQuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="feedbackAnswerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManageFeedBack" nillable="true" type="tns:ManageFeedBack" />
  <xs:complexType name="ArrayOfViewFeedBack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewFeedBack" nillable="true" type="tns:ViewFeedBack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewFeedBack" nillable="true" type="tns:ArrayOfViewFeedBack" />
  <xs:complexType name="ViewFeedBack">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalFeedback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeedbackDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewFeedBack" nillable="true" type="tns:ViewFeedBack" />
  <xs:complexType name="ArrayOfManageOperator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManageOperator" nillable="true" type="tns:ManageOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManageOperator" nillable="true" type="tns:ArrayOfManageOperator" />
  <xs:complexType name="ManageOperator">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManageOperator" nillable="true" type="tns:ManageOperator" />
  <xs:complexType name="ArrayOfManageRegisteredUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManageRegisteredUsers" nillable="true" type="tns:ManageRegisteredUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManageRegisteredUsers" nillable="true" type="tns:ArrayOfManageRegisteredUsers" />
  <xs:complexType name="ManageRegisteredUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManageRegisteredUsers" nillable="true" type="tns:ManageRegisteredUsers" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="SecurityQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfCountryStateCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryStateCity" nillable="true" type="tns:CountryStateCity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryStateCity" nillable="true" type="tns:ArrayOfCountryStateCity" />
  <xs:complexType name="CountryStateCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryStateCity" nillable="true" type="tns:CountryStateCity" />
  <xs:complexType name="NewRegisteredUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegisteredUser" nillable="true" type="tns:NewRegisteredUser" />
  <xs:complexType name="AddEditOperator">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddEditOperator" nillable="true" type="tns:AddEditOperator" />
  <xs:complexType name="UserLoginRegisterUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLoginRegisterUser" nillable="true" type="tns:UserLoginRegisterUser" />
  <xs:complexType name="ForgotPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForgotPassword" nillable="true" type="tns:ForgotPassword" />
  <xs:complexType name="ArrayOfManageFeedBack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManageFeedBack" nillable="true" type="tns:ManageFeedBack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManageFeedBack" nillable="true" type="tns:ArrayOfManageFeedBack" />
</xs:schema>